*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

html {
  block-size: 100%;
}

.page {
  display: grid;
  justify-content: end;
  align-content: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

.content {
  display: grid;
  grid-template-columns: 1.65fr 1fr;
  grid-column-gap: 27px;
  min-height: 621px;
}

.search-form {
  display: grid;
  grid-template-columns: 1fr 1.13fr 1fr;
}

.search-form fieldset:nth-of-type(2) {
  justify-self: end;
  align-self: start;
  margin-right: 9px;
}

.result {
  display: grid;
  justify-content: start;
  align-self: start;
  margin-top: 74px;
}

.result__video-container {
  position: relative;
  margin-bottom: 12px;
}

.result__video {
  position: relative;
  width: 712px;
  height: 386px;
  object-fit: cover;
}

.content__details {
  display: grid;
  grid-row-gap: 18px;
  align-content: start;
}

.content__list {
  position: relative;
  display: grid;
  grid-row-gap: 24px;
  height: 301px;
  overflow-y: auto;
}

.content__video-card {
  display: grid;
  grid-template-columns: 1fr 1.03fr;
  justify-items: start;
  max-width: 396px;
}

.content__card-link:active {
  background: #545050;
}

.content__card-link:hover .content__video-card-title {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 7px;
}

.content__card-link:hover .content__video-card-description {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 106px;
  object-fit: cover;
  object-position: center;
}

.search-form__fieldset-title {
  color: #FFF;
  font-family: Fira Sans Condensed, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.title {
  color: #FFF;
  font-family: Oswald, Arial, sans-serif;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: flex;
  margin: 3px;
  text-decoration: none;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  border: 1px solid #FFF;
}

.content__card-link_current article {
  background: #545050;
}

.content__video-card-title {
  margin-top: 4px;
  margin-bottom: 6px;
  color: #FFF;
  font-family: Oswald, Arial, sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
}

.content__video-card-description-container {
  min-width: 198px;
  max-width: 200px;
  margin: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  color: #FFF;
  font-family: Fira Sans Condensed, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 16.2px; /* 90% */
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

fieldset {
  display: grid;
  grid-row-gap: 4px;
  border: none;
}

.search-form__label {
  align-self: center;
  width: fit-content;
  cursor: pointer;
}

.search-form__label:has(:focus-visible),
.button:focus-visible {
  box-shadow: 0 0 0 1px #1b1919, 0 0 0 2px #FFF;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.search-form__checkbox-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 12px;
}

.search-form__textfield {
  min-width: 226px;
  border-top: 1px solid currentColor;
  border-right: none;
  border-bottom: 1px solid currentColor;
  border-left: none;
  color: #FFF;
  font-family: Fira Sans Condensed, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-height: 34px;
  border: 1px solid currentColor;
  color: #FFF;
  font-family: Fira Sans Condensed, Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:active {
  background: #545050;
}

.search-form__submit-button {
  justify-self: end;
  align-self: end;
  width: 194px;
}

.more-button {
  width: 399px;
}

.search-form__pseudo-checkbox {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  width: 19px;
  height: 19px;
  border: 1px solid #FFF;
}

input[type='checkbox']:checked + .search-form__pseudo-checkbox::before {
  content: " ";
  display: block;
  width: 15px;
  height: 15px;
  margin: 1px;
  background: #fff;
}